{% extends "base.html" %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}
  <div class="about-container">
    <h2>Sobre a SP Agency Multimarcas</h2>
    <p>
      Bem-vindo à <strong>SP Agency Multimarcas</strong>! Somos apaixonados por carros e dedicados a ajudar nossos clientes a encontrar o veículo perfeito para suas necessidades. 
      Com uma ampla gama de marcas e modelos, oferecemos uma experiência de compra única e personalizada.
    </p>
    <p>
      Nossa missão é proporcionar um serviço de alta qualidade, combinando conhecimento especializado com um atendimento ao cliente excepcional. 
      Estamos comprometidos em tornar o processo de compra de carros o mais simples e agradável possível.
    </p>
    <p>
      Fundada em 2022, a <strong>SP Agency Multimarcas</strong> rapidamente se estabeleceu como uma das principais concessionárias da região. 
      Nosso sucesso é impulsionado por nossa equipe dedicada, que está sempre pronta para ajudar e oferecer conselhos honestos e informados.
    </p>
    <h3>Nossos Valores</h3>
    <ul>
      <li>Transparência e honestidade em todas as nossas negociações.</li>
      <li>Compromisso com a satisfação do cliente.</li>
      <li>Inovação e melhoria contínua.</li>
      <li>Paixão por carros e pela indústria automotiva.</li>
    </ul>
    <h3>Nossa Equipe</h3>
    <p>
      Nossa equipe é composta por profissionais experientes e entusiastas de automóveis, todos dedicados a oferecer a melhor experiência possível para nossos clientes. Estamos aqui para ajudar você em cada passo do caminho, desde a seleção do carro perfeito até o financiamento e a manutenção.
    </p>
    <h3>Contato</h3>
    <p>
      Se você tiver alguma dúvida ou precisar de mais informações, não hesite em entrar em contato conosco. Estamos sempre prontos para ajudar!
    </p>
    <div style="text-align: center;">
      <a href="https://wa.me/55889991173746" class="button">Entre em Contato</a>
    </div>
  </div>
{% endblock %}
